services:

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"   # API S3
      - "9001:9001"   # Consola web
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"

  trino:
    image: trinodb/trino
    container_name: trino
    ports:
      - "8080:8080"
    depends_on:
      - minio
    volumes:
      - ./trino/catalog:/etc/trino/catalog
      - ./trino/metastore:/data/trino/metastore
